<div class="booyah-box col-10 offset-1">
<h1>Enter the details of your place</h1>
<%= simple_form_for @place do |f| %>
  <%= f.input :name, label: 'Business Name' %>
  <%= f.input :desc, label: 'Description' %>
  <%= f.input :add, label: 'Address' %>
  <br />
  <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>